<div class="row">
    <!-- SIDEBAR START -->
    <div id="user_info" class="card offset-s1 col s3">
        <span id="info_name"><a href="/<%= @user.username %>"><%= @user.first_name %> <%= @user.last_name %></a></span>
        <p>
            <%= @user.username %>
        </p>
    </div>
    <!-- SIDEBAR END -->
    <div class="col s6">
        <ul class="collection">
        <% @fweets.reverse.each do |fweet| %>
            <div class="collection-item avatar">
                <img src="/images/profile.png" alt="" class="circle">   
                <span class="light-green-text text-darken-3 username row">
                    <a href="/<%= @user.username %>"><%= "@#{fweet.user.username}"%></a>
                </span>
                <p><span class="content row">
                    <%= "#{fweet.content}" %>
                </span></p>
            </div>
            <% end %>
        </ul>
    </div>
</div>
